<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static "css/resumejava1234.css" %}"/>
    <link rel="stylesheet" href="{% static "css/resss.css" %}"/>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body style="background-color:rgba(241,241,241,1)">

        <header class="nav-down">
          <div style="background-image:url(https://www.coinbase.com/assets/home/bg-cbd6be93422d1c96fee1b638932bd072f76de72ab6a90996069fbbb4ebc0034b.jpg)" class="dark collapse bg-dark" id="navbarHeader">
            <div  class="container">
              <div class="row">
                <div class="col-sm-8 py-4">
                  <h4 class="text-white"></h4>
                  <p class="text-muted"> <img style="height:100px"class="menuimage1" src="{% static "images/menuimage.jpg" %}" alt="Uh Oh, didn't show!"></p>
                </div>
                <div class="col-sm-4 py-4">
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/nick-kreissler-760815149" class="text-white">LinkedIn</a></li>
                    <li><a href="tel:815-721-3661" class="text-white">Call Me</a></li>
                    <li><a href="mailto:nick.d.kreissler@gmail.com?Subject=Resume%20page" class="text-white">Email me</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="background-image:url(https://www.coinbase.com/assets/home/bg-cbd6be93422d1c96fee1b638932bd072f76de72ab6a90996069fbbb4ebc0034b.jpg)" class="navbar navbar-dark bg-dark">
            <div class="d-flex justify-content-between">
              <button class="navbar-brand navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span>
                  <div id = 'navbar-toggler-icon'></div>
                  <div id = 'navbar-toggler-icon'></div>
                  <div id = 'navbar-toggler-icon'></div>
                </span>
              </button>
            </div>
          </div>
        </header>



          <br><br><br><br>
          <section style="background-color:white; box-shadow: 0 4px 2px -2px lightgray;" class="writ container jumbotron text-center">
            <div class="container writ">
              <h1 style="color:#0067c8" class="jumbotron-heading">Nick Kreissler</h1>
              <p class="lead text-muted">Student at Depaul University majoring in computer science and minoring in computational physics. GPA: 3.9</p>
              <p>
                <a href="mailto:nick.d.kreissler@gmail.com?Subject=Resume%20page" class="btn btn-primary">Email</a>
              </p>
            </div>
          </section>

  <div class="container">
      <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
        <tr>
          <td class = "container">
              <div class="writ left"> <p>Experienced with front-end programming languages including Bootstrap, Jquery, CSS, and HTML. Familiar with back-end frameworks such as Django and Wordpress. Has used AWS to deploy multiple websites.  &nbsp;</p></div>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div class="container">
        <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
          <tr>
            <td class = "container">
                <div class="writ left" > <p>Uses Google Adwords, Google Analytics, and Social media to help increase website traffic. Understands SEO and has devised creative ways to rank higher in Google's search engine.   &nbsp;</p></div>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div class="container">
          <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
            <tr>
              <td class = "container">
                  <div class="writ left"> <p>Active investor (Stock Market and Cryptocurrencies). Warren Buffet says, "Rule No. 1: Never lose money. Rule No. 2: Never forget rule No. 1." I have found that success requires patience and confidence in your investments.   &nbsp;</p></div>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <div class="container">
            <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
              <tr>
                <td class = "container">
                    <div class="writ left"> <p>Worked at Maugh Nah Tee See Country Club, HMC Products, and Anderson gardens. Learned how to work with demanding customers and employees to complete a Job.&nbsp;</p></div>
                </td>
              </tr>
            </table>
          </div>
          <br>
          <div class="container">
              <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
                <tr>
                  <td class = "container">
                      <div class="writ left"> <p>Got accepted into a study-abroad program Freshman year of college. Studied Buddhism, Daoism, and Confucianism while in China. Finished by presenting my experiences at the Bradley University Student Expo.&nbsp;</p></div>
                  </td>
                </tr>
              </table>
            </div>
            <br>
            <div class="container">
                <table style="box-shadow: 0 4px 2px -2px lightgray;" class="writ container tables">
                  <tr>
                    <td class = "container">
                        <div class="writ left"> <p>Extremely focused student. Made the Deans List 5 out of 6 College Semesters.&nbsp;</p></div>
                    </td>
                  </tr>
                </table>
              </div>
              <br>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#"><i class="fa fa-caret-up" style="font-size:40px"></i></a>
        </p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static "js/resume2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/scroll11.js" %}" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
